<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:fragment="menu">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" style="background-color: #e3f2fd;">
				<a th:href="@{/}" th:classappend="${menu}=='home' ? active : ''">Inv</a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>
				<div class="collapse navbar-collapse" id="navmenu">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item" ><a class="nav-link" th:href="@{/inventory/}" th:classappend="${menu}=='inventory' ? active : ''">Inventory</a></li>
						<li class="nav-item" ><a class="nav-link" th:href="@{/mto/}" th:classappend="${menu}=='mto' ? active : ''">MTO</a></li>
						<li class="nav-item" ><a class="nav-link" th:href="@{/product/}" th:classappend="${menu}=='product' ? active : ''">Product</a></li>
						<li class="nav-item" ><a class="nav-link" th:href="@{/color/}" th:classappend="${menu}=='color' ? active : ''">Color</a></li>
						<li class="nav-item" ><a class="nav-link" th:href="@{/employee/}" th:classappend="${menu}=='employee' ? active : ''">Employee</a></li>
						<li class="nav-item" ><a class="nav-link" th:href="@{/customer/}" th:classappend="${menu}=='customere' ? active : ''">Customer</a></li>
						<li class="nav-item" ><a class="nav-link" th:href="@{/audit/}" th:classappend="${menu}=='audit' ? active : ''">Audit</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- /.container -->


</body>
</html>