<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>
	<div th:replace="include/menu :: menu">
		<!-- 
			INSERT MENU HERE
		 -->
	</div>
	
	<div class="container">

		<div class="jumbotron">
			<form id="form" class="" action="#" th:action="@{/customer/save}" th:object="${customer}" method="post">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Firstname</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('firstname')} ? form-control-danger : form-control-danger" th:field="*{firstname}" placeholder="Firstname" />
					</div>
					<span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</span>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Lastname</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" th:field="*{lastname}" placeholder="Lastname" />
					</div>
					<span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Code Error</span>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Mobile Number</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" th:field="*{mobileNumber}" placeholder="Mobile Number" />
					</div>
					<span th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}">Code Error</span>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Email Address</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" th:field="*{emailAddress}" placeholder="Email Address" />
					</div>
					<span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Code Error</span>
				</div>	
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Address</label>
					<div class="col-sm-3">
						<textarea class="form-control" th:field="*{address}" placeholder="Address" ></textarea>
					</div>
					<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Code Error</span>
				</div>								
				<div class="form-group">
					<input class="btn btn-primary" type="submit" value="Submit" /><input class="btn btn-secondary" type="reset" value="Reset" />
					<input type="hidden" th:field="*{id}"/>
				</div>
			</form>
		</div>

	</div>
	<!-- /.container -->
	<table id="grid-basic" class="table table-condensed table-hover table-striped">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>Firstname</th>
	            <th>Lastname</th>
	            <th>Mobile Number</th>
	            <th>Email Address</th>
	            <th>Address</th>
	        </tr>
	    </thead>
	    <tfoot>
	        <tr>
	            <th>ID</th>
	            <th>Firstname</th>
	            <th>Lastname</th>
	            <th>Mobile Number</th>
	            <th>Email Address</th>
	            <th>Address</th>
	        </tr>
	    </tfoot>    
	</table>
	
	<div th:replace="include/footer :: footer">
		<!-- INSERT FOOTER HERE -->
	</div>
	<script type="text/javascript">
	var table = $("#grid-basic").DataTable({
		"ajax": 'http://localhost:8888/inv/api/getallcustomers',
		"deferRender": true
	});
	
	//For changing status
	$('#grid-basic tbody').on('dblclick', 'tr', function () {
		var data = table.row( this ).data();
		window.location.href = "http://localhost:8888/inv/customer/edit/" + data[0];
	});

	</script>
</body>
</html>